@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}
.color-primary {
    color: #0185FF;
}
.container {
    @apply mx-auto px-2;
    max-width: 1180px;
}
/* 
* {
    outline: 1px solid #f00 !important;
  } */

  